@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  /* Pokemon brand palette - to be revised */
  --color-red: hsl(0, 100%, 50%);
  --color-bostonred: hsl(0, 100%, 40%);
  --color-ceruleanblue: hsl(233, 57%, 51%);
  --color-ceruleanblue--lightestbg: rgba(59, 75, 201, 0.1);
  --color-goldenyellow: hsl(52, 100%, 50%);
  --color-goldfoil: hsl(52, 66%, 42%);
  --color-text: hsl(0, 0%, 16%);
  --color-text--light: hsl(240, 6%, 27%);
  --button-image: ;
}

body {
  /* display: flex;
  flex-direction: column;
  height: 100vh; */
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-background);
  touch-action: manipulation; /* remove 300ms delay on touch devices */
}

body.is-modal-open {
  overflow: hidden;
}

a,
button {
  /* Removes highlight */
  -webkit-tap-highlight-color: transparent;
}

.pokenavbar {
  background-color: var(--color-ceruleanblue);
}

.pokebrand {
  display: flex;
  gap: 0.5em;
}

.pokebrand::before {
  width: 1.6em;
  height: 1.6em;
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cpath id='Unione_2' data-name='Unione 2' d='M0,30A30,30,0,1,1,30,60,30,30,0,0,1,0,30ZM30,55.285A25.32,25.32,0,0,0,55.176,32.358H39.8a10.082,10.082,0,0,1-19.6,0H4.824A25.32,25.32,0,0,0,30,55.285ZM24.637,30A5.363,5.363,0,1,0,30,24.637,5.37,5.37,0,0,0,24.637,30Zm30.539-2.358a25.286,25.286,0,0,0-50.352,0H20.2a10.082,10.082,0,0,1,19.6,0Zm-8.708-3.908c-2.8-7.386-10.023-9.959-10.1-9.984a2.358,2.358,0,1,1,1.541-4.456c.382.132,9.394,3.343,12.963,12.771a2.358,2.358,0,1,1-4.41,1.67ZM27.112,10.255A2.947,2.947,0,1,1,30.059,13.2,2.947,2.947,0,0,1,27.112,10.255Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-size: contain;
}

.pokelogo {
  display: inline-flex;
  gap: 0.3em;
  align-content: center;
  align-items: center;
  color: var(--color-text);
}

.pokelogo::before {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60'%3E%3Cpath fill='%23cc0000' d='M0 30a30 30 0 1 1 30 30A30 30 0 0 1 0 30Zm30 25.285a25.32 25.32 0 0 0 25.176-22.927H39.8a10.082 10.082 0 0 1-19.6 0H4.824A25.32 25.32 0 0 0 30 55.285ZM24.637 30A5.363 5.363 0 1 0 30 24.637 5.37 5.37 0 0 0 24.637 30Zm30.539-2.358a25.286 25.286 0 0 0-50.352 0H20.2a10.082 10.082 0 0 1 19.6 0Zm-8.708-3.908c-2.8-7.386-10.023-9.959-10.1-9.984a2.358 2.358 0 1 1 1.541-4.456c.382.132 9.394 3.343 12.963 12.771a2.358 2.358 0 1 1-4.41 1.67ZM27.112 10.255a2.947 2.947 0 1 1 2.947 2.945 2.947 2.947 0 0 1-2.947-2.945Z' data-name='pokelogo'/%3E%3C/svg%3E");
  background-size: contain;
}

.pokelogo + h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-text--light);
}

/* .pokelist {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* .pokelist__item:last-child {
  border-bottom: none;
} */

main {
  padding: 2em 1em;
  background-color: var(--color-ceruleanblue--lightestbg);
}

.pokelist__name,
.pokelist__data,
.pokelist__highlight {
  margin: 0;
  font-size: 1.5rem;
}

.pokelist__data {
  color: var(--color-text--light);
}

.pokelist__highlight {
  justify-self: flex-end;
  color: var(--color-bostonred);
}

.pokelist__button {
  display: grid;
  grid-template: 1fr auto / 1fr;
  padding: 0em;
  text-transform: capitalize;
  font-weight: 500;
  background-size: 0;
  background-repeat: no-repeat;
  background-color: #fff;
  border-width: 1px;
  border-color: var(--color-ceruleanblue);
  color: var(--color-ceruleanblue);
  box-shadow:
    0 1px 3px rgba(59, 75, 201, 0.12),
    0 1px 2px rgba(59, 75, 201, 0.24);
  overflow: hidden;
  transition: all 250ms;
}

.pokelist__button::before {
  display: inline-block;
  grid-column: 1;
  grid-row: 1 / span 2;
  content: "";
  width: 100%;
  height: auto;
  padding-top: 100%;
  /* border-radius: 50%; */
  background-color: rgba(255, 255, 255, 0.75);
  background-image: inherit;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center top;
  transform: scale(1);
  transition: all 500ms;
  z-index: 1;
}

.pokelist__button::after {
  display: inline-block;
  grid-column: 1;
  grid-row: 1 / span 2;
  content: "";
  background: radial-gradient(
    circle at 50% 50%,
    #ffffff,
    #fff7e1,
    #fff0c4,
    #ffe8a6,
    #ffe188,
    #ffd968,
    #ffd245,
    #ffcb05
  );
  z-index: 0;
  transform: scale(1);
  transition: all 500ms;
}

.pokelist__button .pokelist__name {
  width: 100%;
  grid-column: 1;
  grid-row: 2;
  padding: 0.2em;
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1);
  z-index: 2;
}

.pokelist__button:focus-visible {
  outline: 2px solid var(--color-goldfoil);
  outline-offset: 4px;
  color: var(--color-ceruleanblue);
}

.pokelist__button:active {
  transform: scale(0.95);
}

.pokelist__button:active {
  background-color: var(--color-ceruleanblue);
  background-color: rgba(255, 221, 0, 1);
  color: #fff;
  border-width: 2px;
  border-color: rgba(59, 75, 201, 0.75);
  box-shadow:
    0 10px 20px rgba(59, 75, 201, 0.19),
    0 6px 6px rgba(59, 75, 201, 0.23);
  transform: scale(1.05);
}
.pokelist__button:active::before {
  /* background-size: 100%; */
  background-color: rgba(255, 255, 255, 0);
  transform: scale(1.1);
}
.pokelist__button:active .pokelist__name {
  background-color: rgba(59, 75, 201, 1);
}

@media (hover: hover) {
  .pokelist__button:hover {
    background-color: var(--color-ceruleanblue);
    background-color: rgba(255, 221, 0, 1);
    color: #fff;
    border-width: 2px;
    border-color: rgba(59, 75, 201, 0.75);
    box-shadow:
      0 10px 20px rgba(59, 75, 201, 0.19),
      0 6px 6px rgba(59, 75, 201, 0.23);
    transform: scale(1.05);
  }
  .pokelist__button:hover::before {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.1);
  }
  .pokelist__button:hover .pokelist__name {
    background-color: rgba(59, 75, 201, 1);
  }
}

.pokemodal__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
  background-color: var(--color-ceruleanblue--lightestbg);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  color: var(--color-text);
  font-size: 1.125rem;
}

.pokemodal__close,
.modal-header .btn-close.pokemodal__close {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 0.75rem;
  margin-right: 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-bostonred);
  background: none;
  background-color: #fff;
  border: solid currentColor;
  border-width: 2px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.pokemodal__close::before,
.modal-header .btn-close.pokemodal__close::before {
  content: "×";
  margin-bottom: 2px;
  font-size: 2em;
}

@media (hover: hover) {
  .pokemodal__close,
  .modal-header .btn-close.pokemodal__close {
    opacity: 0.75;
  }
  .pokemodal__close:hover,
  .modal-header .btn-close.pokemodal__close:hover {
    background-color: var(--color-bostonred);
    color: #fff;
    border-color: var(--color-bostonred);
    opacity: 1;
    transform: scale(1.1);
  }
}
.pokemodal__name {
  grid-column: 2 / span 2;
  grid-row: 1;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-ceruleanblue);
}

.pokemodal__id {
  font-weight: 400;
  color: var(--color-text--light);
}

.pokemodal__id::before {
  content: "#";
}
.pokemodal__id::after {
  content: " / ";
}

.pokemodal__image__wrapper {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  align-items: center;
  padding: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: var(--color-ceruleanblue);
  color: var(--color-ceruleanblue);
  box-shadow:
    0 1px 3px rgba(59, 75, 201, 0.12),
    0 1px 2px rgba(59, 75, 201, 0.24);
  overflow: hidden;
  transition: all 250ms;
}

.pokemodal__image__wrapper::before {
  display: inline-block;
  grid-column: 1;
  grid-row: 1;
  content: "";
  width: 100%;
  padding-top: 100%;
  background-color: rgba(255, 255, 255, 0);
  background-image: inherit;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center top;
  transform: scale(1);
  transition: all 500ms;
  z-index: 1;
}

.pokemodal__image__wrapper::after {
  display: inline-block;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  padding-top: 100%;
  content: "";
  background: radial-gradient(
    circle at 50% 50%,
    #ffffff,
    #fff7e1,
    #fff0c4,
    #ffe8a6,
    #ffe188,
    #ffd968,
    #ffd245,
    #ffcb05
  );
  z-index: 0;
  transform: scale(1);
  transition: all 500ms;
}

.pokemodal__image {
  grid-column: 1;
  grid-row: 1;
  width: 70%;
  object-fit: cover;
  z-index: 2;
}

.pokemodal__data {
  display: flex;
  flex-direction: column;
  color: var(--color-text--light);
}

.pokemodal__data ul {
  list-style: none;
  margin: 0 0 2rem 0;
  padding-left: 0;
}

.pokemodal__data ul:last-child {
  margin: 0;
}

.pokemodal__data li {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-top: 1px dashed var(--color-goldfoil);
  text-transform: capitalize;
}

.pokemodal__data h2 {
  margin: 0;
  padding: 0.75rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}

h2:has(+ .pokemodal__profile) {
  grid-column: 1;
  grid-row: 1;
}

.pokemodal__profile {
  grid-column: 1;
  grid-row: 2;
}

h2:has(+ .pokemodal__types) {
  grid-column: 2;
  grid-row: 1;
}

.pokemodal__types {
  grid-column: 2;
  grid-row: 2;
}
h2:has(+ .pokemodal__abilities) {
  grid-column: 3;
  grid-row: 1;
}

.pokemodal__abilities {
  grid-column: 3;
  grid-row: 2;
}

@media (min-width: 600px) {
  main {
    padding: 2em;
  }
  .pokelist__message--loading h4 {
    flex-direction: row;
    font-size: 2rem;
  }
  .pokemodal__body {
    display: grid;
    grid-template: 1fr / 40% auto;
    align-items: start;
    padding: 1.75rem;
    font-size: 1.25rem;
  }
  .pokemodal__name {
    font-size: 2.25rem;
  }
}

@media (min-width: 1000px) {
  .pokemodal__body {
    grid-template: 1fr / 30% auto;
    align-items: center;
    grid-template: 1fr / 36% auto;
    gap: 2rem 3rem;
    padding: 2rem 3rem;
  }
  .pokemodal__name {
    align-self: flex-end;
    font-size: 2.5rem;
  }
  .pokemodal__image__wrapper {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  }
  .pokemodal__data {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template: 2rem auto / 1fr 1fr 1fr;
    gap: 1rem;
  }
  .pokemodal__data ul {
    margin: 0;
  }

  .pokemodal__data h2 {
    padding: 0;
    font-size: 1.25rem;
  }
}

/* Messages */
.pokelist__message:not(.pokelist__message--loading) {
  display: none;
}
.pokelist__message--loading {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(59, 75, 201, 0.75);
  color: rgba(255, 221, 0, 1);
  z-index: 1000;
  /* color: var(--color-ceruleanblue); */
  font-size: 1rem;
}

.pokelist__message--loading h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin: 0;
  font-size: 1.8rem;
}

.pokelist__message--loading h4::before {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid rgba(255, 221, 0, 0.4);
  border-radius: 50%;
  border-top-color: rgba(255, 221, 0, 1);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

footer {
  width: 100%;
  text-align: center;
}

/* Utility classes */
.visually-hidden,
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Animations */
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
}

@media (min-width: 1600px) {
  main {
    padding: 4em 2em;
  }
}
